.profile {
    background-color: white;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60vw;
    margin-top: 30px;
    box-shadow: 10px 10px 25px -7px rgba(0,0,0,0.78);

}

.avatar {
    width:100px;
    height: 100px;
    border-radius: 50%;
    background-color: aliceblue;
    margin-bottom: 20px;
}

.description {
    composes: profile; 
    box-shadow: none;

}

.name {
    font-weight: bold;
    font-size: 20px;
    margin: 0 auto;
    margin-bottom: 15px;

}

.tag {
    color: rgb(89, 89, 89);
    margin-block: 10px;

}

.location {
    composes: tag;
    margin-bottom: 20px;
}

.stats {
    list-style: none;
    display: flex;
    align-items: center;
    background-color: rgb(161, 161, 161);
    justify-content: space-between;
    padding: 0px;
    width: 100%;
    margin: 0 auto;      
}

.statsItem {
    display: flex;
    flex-direction: column;
    width: calc(100%/3);
    border: 1px solid rgb(232, 232, 232);
    padding-block: 15px;
    gap: 5px;
    align-items: center;
}

.label {
    font-size: 15px;
    font-weight: bold;
    color: white;
}

.quantity {
    color: white;
}